# Unreal Engine 5 Ignore Rules

# Compiled binaries
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Plugins/*/Intermediate/
Source/*/Intermediate/

# Visual Studio files
*.sln
*.VC.db
.vscode/

# Ignore generated configs
Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultEditor.ini
Config/DefaultEngine.ini

# Ignore build outputs
Build/*/
